.header {
  padding: 3em 0 2em;
  text-align: center;

  @media (min-width: 768px) {
    padding: 1em 0;
    margin-bottom: 1em;
  }

  h1 {
    font-size: 2em;

    @media (min-width: 768px) {
      font-size: 2.5em;
    }

    a {
      display: inline-block;
    }
  }

  p {
    position: relative;
    display: inline-block;
    margin: 0 auto 1em;
    padding: 0.75em 1em;
    font-size: 1.25em;

    .text {
      position: relative;
      z-index: 2;
    }

    @media (min-width: 768px) {
      margin-bottom: 1em;
    }
  }
}

.code-preview {
  margin-bottom: 25px;
  font-size: 0.7em;
  text-align: justify;
  code {
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    background-color: black;
    color: white;
  display: block;

  }
}

@media screen and (min-width: 1000px) {
  .code-preview {
    font-size: 1.2em;
    margin: 0px 130px 25px;
    code {
      padding: 10px 50px;
    }
  }
}
