<%= form_tag rodauth.authorize_path, method: :post do %>
  <h2>The application <%= rodauth.oauth_application[rodauth.oauth_applications_name_column] %> would like to access your data.</h2>

  <div class="form-group">
    <h3>Requested grants:</h3>

    <% rodauth.scopes.each do |scope| %>
      <% is_default = scope == rodauth.oauth_application_default_scope %>
      <div class="form-check">
        <%= check_box_tag scope, scope, is_default, disabled: is_default, class: "form-check-input" %>
        <%= label_tag scope, scope, class: "form-check-label" %>
      </div>
    <% end %>
    <%= hidden_field_tag :client_id, params[:client_id] %>

    <% %i[access_type response_type state nonce redirect_uri code_challenge code_challenge_method].each do |oauth_param| %>
      <% if params[oauth_param] %>
        <%= hidden_field_tag oauth_param,  params[oauth_param] %>
      <% end %>
    <% end %>
    <% if params[:response_mode] %>
      <%= hidden_field_tag :response_mode, params[:response_mode] %>
    <% end %>
  </div>
  <div class="form-group">
    <%= submit_tag "Authorize", class: "btn btn-primary" %>
    <%= link_to "Cancel", "#{rodauth.redirect_uri}?error=access_denied&error_description=The+resource+owner+or+authorization+server+denied+the+request#{"&state=\#{params[:state]}" if params[:state]}", class: "btn btn-danger" %>
  </div>
<% end %>